<h2><%= @registered_application.name %></h2>
<h3><%= @registered_application.url %></h3>
<h4><%= link_to "Deregister Application", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to deregister this application?'} %></h4>
<%= link_to "Back to All Applications", registered_applications_path %>
